body {
	background-image: url("bg2.png");
	background-repeat: no-repeat;
}

@media (orientation: portrait) {
	body {
		background-repeat: no-repeat;
		background-position: center; 
		background-image: url("bg_vertical.jpg");
	}
	svg {
		display: none;
	}
}

#logo {
	position: absolute;
	/*left: 50%;*/
	/*margin-left: -220px;*/
	top: 20px;
	left: 315px;
	width: 400px;
	height: 140px;
}

/*#btnPrint {
	width: 190px;
	height: 170px;
	left: 805px;
	top: 15px;
}

#btnNew {
	width: 110px;
	height: 110px;
	left: 855px;
	top: 210px;
}

#btnOops {
	width: 110px;
	height: 110px;
	left: 870px;
	top: 350px;
}*/

#btnPrint {
	left: 840px;
	top: 15px;
}

#btnNew {
	left: 10px;
	top: 25px;
}

#btnOops {
	left: 20px;
	top: 480px;
}

#btnSave {
	left: 20px;
	top: 210px;
}

#btnStop {
	left: 890px;
	top: 200px;
}

.btn {
	position: absolute;
	-webkit-user-select: none;
	cursor: hand;
}

canvas, #editor, svg { 
	position: absolute;
	top: 193px;
	left: 198px;
	width: 650px;
	height: 450px;
	cursor: hand;
	background-color: white;
	border: 4px solid black;
	border-radius: 15px;
}

